<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>My Etherpad</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/signin.css" rel="stylesheet" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <form class="form-signin" action="/signin" method="post">
      <img
        class="mb-4"
        src="../static/img/Etherpad.svg"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">My Etherpad</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        placeholder="Username"
        required
        autofocus
      />
      <span>&nbsp;</span>
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember-me" value="remember-me"> Remember me
        </label>
      </div> -->
      <span>&nbsp;</span>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        登 录
      </button>
      <span style="color: red;">{{msg}}</span>
      <p class="mt-5 mb-3 text-muted">&copy; 2023-2023</p>
    </form>
  </body>
</html>
